@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    position: relative;
    width:auto;
    height:100dvh;
    background:url(./images/bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{     
    position: relative;
    width: 350px;    
    padding:20px 15px;
    margin:15px;
    background:linear-gradient(145deg,#0C3348,#0B2640);
    backdrop-filter:blur(20px);
    border-radius:10px;
}
.title{
    text-align: center;
    color:#32ADA6
    
}
.message{
    font-size: 14px;
    margin:10px;
    color:#fff;
}

.input-field{
    display: flex;
    flex-direction: column;
}


#digit{
    width:100%;
    height:40px;
    padding:0 10px;
    background-color:transparent;
    outline:none;
    border:1px solid #aac5d3a1;
    color:#ffffff;
    margin-bottom: 10px;
    border-radius:5px;
    font-size:18px;
    
}
#class{
    background-color:#273c75 ;
    border:none;
    outline:none;
    padding:10px;
    color:#fff;
    margin-bottom:5px;
    border-radius:5px;
}
#button-1{
    width:200px;
    margin:5px auto;
    padding:10px;
    border:none;
    outline:none;
    border-radius:5px;
    background-color: #22a6b3;
    cursor: pointer;
}
#button-2{
    width:200px;
    margin:5px auto;
    padding:10px;
    border:none;
    outline:none;
    border-radius:5px;
    background-color: #22a6b3;
    cursor: pointer;
    color: rgba(119, 33, 33, 0.568);
    font-size:18px;
}
.show{
    width:100%;
    height:20px;
    margin:5px;

}

table{
    text-align: left;
}
tr{
    margin:5px 0;
    color:#fff;
}
.author-name{
    color:#22a6b3;
    font-size: 12px;
    float:right;
    margin-top:10px;
    letter-spacing:0.1em;
}
.author-name a{
    color: #fff;
    
}
.span{
    color:red;
    font-size:20px;
}
.fa-info{
    position:absolute;
    top:10px;
    right:10px;
    color:#fff;
    background-color: #273c75;
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    transform:scale(0.8);
    transition: 0.3s all ease;
    cursor: pointer;
    animation: document 1s infinite;
}
.fa-info:hover{
    transform:scale(1);
    animation-play-state: paused;

}
 .overlay{
    position:fixed;
    top:0;
    left:0;
    background-color:#3d3f44c4;
    width:100dvw;
    height: 100dvh;
    z-index: 1;
    display:none;
 }
 .overlay.active{
    display:block;
 }
 .popup{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:300px;
    height:200px;
    background-color: #fff;
    font-size:12px;
    letter-spacing:0.8px;
    line-height:14px;
    padding:10px 30px;
    border-radius:10px;
    z-index: 2; 
    transition:1s;
    display:none;
 }
 .popup.active{
    display:block;

   
 }
 .popup h3,p{
    text-align: center;
 }
 .popup p{
    margin-bottom: 10px;
 }
 .popup .close{
    font-size:23px;
    position:absolute;
    top:10px;
    right:5px;
    cursor: pointer;
 }
 /*Calcultaor*/
 .calculator{
    width:80%;
    margin:0 auto;
    
 }
 .calculator .row{
    display:flex;
    justify-content:space-between;
 }
 .calculator .row button{
    width:60px;
    height:60px;
    font-size: 24px;
    flex-grow:1;
    background:transparent;
    border:none;
    outline:none;
    color:#fff;
 }
 .calculator .row button:active{
    color:#35B4A8;
 }
 .calculator .row button.opr{
    flex-grow:16;
    font-size:50px;
 }
 .calculator .row button#button-3{
    background:linear-gradient(180deg,#35B4A8,#2C8996);
    border-radius:10px;
 }
 .calculator .row button#button-3:active{
    color:#fff;
    background:linear-gradient(180deg,#2C8996,#35B4A8);
 }
/* keyframes */
@keyframes document {
    0%{
        transform:scale(0.7);
    }
    50%{
        transform:scale(1);
    }
    75%{
        transform: scale(0.5);
    }
    90%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(0.7);
    }
    
}
@keyframes popup {
    from{
        transform:scale(0);
    }
    To{
        transform:scale(1);
    }
}